In [3]:
for var1 in range(3):
    print("Iteration " + str(var1 + 1) + " of outer loop")
    for var2 in range(2):
        print(var2 + 1)
    print("Out of inner loop")
print("Out of outer loop")

Iteration 1 of outer loop
1
2
Out of inner loop
Iteration 2 of outer loop
1
2
Out of inner loop
Iteration 3 of outer loop
1
2
Out of inner loop
Out of outer loop

In [5]:
city_1 = input("Enter the name of City 1: ")
city_2 = input("Enter the name of City 2: ")

temp = city_1
city_1 = city_2
city_2 = temp

print(f"The name of City 1 after swapping is {city_1}")
print(f"The name of City 2 after swapping is {city_2}")

Enter the name of City 1:  London
Enter the name of City 2:  Lisbon

The name of City 1 after swapping is Lisbon
The name of City 2 after swapping is London

In [8]:
count = 0
for i in range(2,10,2):
    count+= i
    print(count)

2
6
12
20

In [9]:
x = 0
for i in range (1,6):
    if i % 2 == 0:
        x += i
    else:
        x -= i
print(x)

-3